
.labels {
  width: 200px;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem;
  color: #000;
}

.heading {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: underline;
  color: rgb(148, 150, 184);
}

.formContainer {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 1em;
  overflow: hidden;
}

.input-field {
  max-width: 50%;
  height: 1.8em;
  font-size: 1.05em;
  font-weight: 500;
  padding-left: 5px;
  margin-left: 10px;
  border-radius: 10px;
  color: #000;
}

.input-field:focus {
  outline: none;
}

.btn-container {
  width: 100%;
  text-align: center;
}
.btn {
  font-size: 1em;
  font-family: Open-sans, serif;
  font-weight: 500 !important;
  /* background-blend-mode: overlay; */
  border-radius: 5px;
}
